.comics {
  padding-bottom: 1.25rem;

  .title {
    padding-inline: 1.875rem;
    padding-block: 0.6rem;
    background-color: var(--primary);
    display: inline-block;
    transform: translateY(calc(-50%));
    box-shadow: var(--shadow-sm);
  }

  .list {
    padding-inline: 0.875rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 3.375rem 1.5rem;
  }

  .button {
    display: block;
    margin-inline: auto;
    margin-top: 3.375rem;
    background-color: var(--primary);
    padding-inline: 3.4rem;
    padding-block: 0.625rem;
    user-select: none;
    box-shadow: var(--shadow-sm);
    transition:
      filter 0.2s ease-in-out,
      transform 0.1s ease-in-out;

    &:hover,
    &:focus-visible {
      filter: brightness(1.08);
    }

    &:active {
      transform: scaleX(0.95) translateY(1px);
    }
  }
}
