.header {
  background-color: var(--foreground);
  color: var(--foreground-inverted);

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    border-radius: 50%;
    margin-block: 1rem;
    transition:
      filter 0.2s ease-in-out,
      transform 0.1s ease-in-out;

    &:hover,
    &:focus-visible {
      filter: brightness(1.08);
    }

    &:active {
      transform: scaleX(0.95) translateY(1px);
    }

    img {
      width: 80px;
      height: auto;
    }
  }

  .navbar {
    display: none;

    ul {
      height: 100%;
      display: flex;
    }

    a {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding-inline: 1rem;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus-visible {
        color: var(--primary);
      }

      &.active {
        color: var(--primary);

        /* Bottom border for active link */
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 50%;
          height: 6px;
          background-color: var(--primary);
          transform: translateX(-50%);
        }
      }
    }

    @media (width >= 900px) {
      display: block;
    }
  }
}
