.main {
  .content {
    padding-block: 3rem;
    color: var(--foreground-soft);
  }

  .services {
    padding-block: 1.5rem;
    background-color: var(--primary);

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1.2rem;

      a {
        padding-block: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;

        &:focus-visible {
          outline-color: var(--foreground);
        }

        img {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          opacity: 0.9;
        }

        span {
          font-size: 0.9rem;
          line-height: calc(1.5 / 0.9);
          letter-spacing: -0.0433em;
        }
      }
    }
  }
}
