.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: var(--shadow-sm);
  transition:
    filter 0.2s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover,
  &:focus-visible {
    filter: brightness(1.08);
  }

  &:active {
    transform: scaleX(0.95) translateY(1px);
  }

  &.primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &.sm {
    padding-inline: 3.4rem;
    padding-block: 0.625rem;
  }
}
